In [15]:
import pandas as pd
import datetime
import numpy as np
import gzip
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import RandomForestClassifier

In [2]:
#import Reject Data
MS_Data = {}
MS_Data = pd.read_csv(r'''C:\Users\Charles\Desktop\Data Science\Capstone Project 2\MS_Data.csv''')

In [3]:
r, c = MS_Data.shape
print(r, c)

1406896 14

In [19]:
MS_Data.head()

,0,1,2,3,4,5,6,7,8,Loan_Amount,Debt_To_Income_Ratio,Employment_Length,Normalized_Risk_Score,Approved_Reject
0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,500.0,0.1134,7,-0.456766,0
1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,500.0,0.0054,2,-0.428409,0
2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,500.0,0.2911,1,-0.774356,0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,500.0,0.0000,0,-3.354776,0
4,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,500.0,0.1345,0,-0.422738,0

In [20]:
# Split the data into a training and test set.
X_train, X_test, y_train, y_test = train_test_split(MS_Data.drop('Approved_Reject',axis=1).values, 
                                              (MS_Data['Approved_Reject']).values,test_size = 0.2, random_state=5)

# Baseline

In [30]:
np.set_printoptions(suppress=True)
X_test[0]

array([   0.        ,    0.        ,    0.        ,    0.        ,
          0.        ,    0.        ,    0.        ,    1.        ,
          0.        , 3525.        ,    0.2824    ,    5.        ,
         -0.69372934])

In [43]:
baseline = []
baseline = np.where(X_test[:,10] > 0.4, 0, 1)

#np.where(consumption_energy > 400, 'high', 
 #        (np.where(consumption_energy < 200, 'low', 'medium')))

In [44]:
print(baseline.shape)
print(X_test.shape)

(281380,)
(281380, 13)

In [45]:
print(classification_report(y_test, baseline))

             precision    recall  f1-score   support

          0       0.98      0.09      0.17    197059
          1       0.32      1.00      0.48     84321

avg / total       0.78      0.36      0.26    281380

# Logistic Regression

In [7]:
logmodel = LogisticRegression()
logmodel.fit(X_train,y_train)
LR_predictions = logmodel.predict(X_test)

In [9]:
print(classification_report(y_test,LR_predictions))
#Recall = TP/(TP+FN)
#Precision = TP/(TP+FP)

             precision    recall  f1-score   support

          0       0.85      0.94      0.89    197059
          1       0.81      0.61      0.69     84321

avg / total       0.84      0.84      0.83    281380

In [10]:
print(accuracy_score(LR_predictions, y_test))

0.8394235553344233

# Random Forest

In [16]:
rf = RandomForestClassifier(n_estimators = 10, random_state = 42)
rf.fit(X_train, y_train)
RF_predictions = rf.predict(X_test)

In [17]:
print(classification_report(y_test,RF_predictions))

             precision    recall  f1-score   support

          0       0.97      0.98      0.97    197059
          1       0.94      0.92      0.93     84321

avg / total       0.96      0.96      0.96    281380

In [18]:
print(accuracy_score(RF_predictions, y_test))

0.9597910299239463

In [22]:
RF_predictions

array([1, 1, 0, ..., 1, 0, 0], dtype=int64)