In [1]:
import pandas as pd
import datetime
import numpy as np
import gzip
from sympy.solvers import solve
from sympy import Symbol

# Import Data

In [2]:
#import Reject Data
Reject_Loan_Data = {}
Reject_Loan_Data = pd.read_csv(r'''C:\Users\Charles\Desktop\Data Science\Capstone Project 2\rejected_2007_to_2018Q4.csv.gz''',dtype={19: str, 47: str, 55: str, 112: str, 123: str, 124: str, 125: str, 128: str, 129: str, 130: str, 133: str, 139: str, 140: str, 141: str})

In [3]:
#import Approved Data
Approved_Loan_Data = {}
Approved_Loan_Data = pd.read_csv(r'''C:\Users\Charles\Desktop\Data Science\Capstone Project 2\accepted_2007_to_2018Q4.csv.gz''',dtype={0: str,19: str, 49: str, 59: str, 118: str, 129: str, 130: str, 131: str, 134: str, 135: str, 136: str,139: str, 145: str, 146: str, 147: str})
#dtype={19: str, 47: str, 55: str, 112: str, 123: str, 124: str, 125: str, 128: str, 129: str, 130: str, 133: str, 139: str, 140: str, 141: str}

In [4]:
#truncate the columns of the approved data set in order to match the metrics of the rejected data set. 
Truncate_Columns = {}
Truncate_Columns = pd.read_csv(r'''C:\Users\Charles\Desktop\Data Science\Capstone Project 2\Truncate_Columns_v2.csv''')

# Clean up approved data

In [5]:
Truncate_Approved_Loan_Data = Approved_Loan_Data.filter(Truncate_Columns['Columns To Keep'])

In [6]:
# check for data with null data
#pd.options.display.max_seq_items = 2000
Truncate_Approved_Loan_Data.isnull().any()

emp_length                 True
addr_state                 True
dti                        True
dti_joint                  True
loan_amnt                  True
sec_app_fico_range_low     True
sec_app_fico_range_high    True
fico_range_high            True
fico_range_low             True
dtype: bool

In [7]:
from numpy import nan
null_data_delete = Truncate_Approved_Loan_Data[Truncate_Approved_Loan_Data['loan_amnt'].isnull()]
Clean_Truncate_Approved_Loan_Data=Truncate_Approved_Loan_Data.drop(null_data_delete.index.values)
null_data_delete = Clean_Truncate_Approved_Loan_Data[Clean_Truncate_Approved_Loan_Data['emp_length'].isnull()]
Clean_Truncate_Approved_Loan_Data=Clean_Truncate_Approved_Loan_Data.drop(null_data_delete.index.values)
null_data_delete = Clean_Truncate_Approved_Loan_Data[Clean_Truncate_Approved_Loan_Data['dti'].isnull()]
Clean_Truncate_Approved_Loan_Data=Clean_Truncate_Approved_Loan_Data.drop(null_data_delete.index.values)
Clean_Truncate_Approved_Loan_Data.isnull().any()

emp_length                 False
addr_state                 False
dti                        False
dti_joint                   True
loan_amnt                  False
sec_app_fico_range_low      True
sec_app_fico_range_high     True
fico_range_high            False
fico_range_low             False
dtype: bool

In [8]:
#average dti and dti_joint columns

Clean_Truncate_Approved_Loan_Data['Debt_To_Income_Ratio'] = Clean_Truncate_Approved_Loan_Data[['dti', 'dti_joint']].mean(axis=1)

In [9]:
#average primary and secondary borrowers' top and bottom range of FICO score. Approved data is all FICO score. Reject data has vantagescore starting in  2013
Clean_Truncate_Approved_Loan_Data['Risk_Score'] = Clean_Truncate_Approved_Loan_Data[['sec_app_fico_range_low', 'sec_app_fico_range_high','fico_range_high','fico_range_low']].mean(axis=1)

In [10]:
#Clean up column names
Clean_Truncate_Approved_Loan_Data = Clean_Truncate_Approved_Loan_Data.rename(columns={"emp_length": "Employment_Length", "addr_state": "State", "loan_amnt": "Loan_Amount"})
#Label data for approved: 1
Clean_Truncate_Approved_Loan_Data['Approved_Reject'] = 1

In [11]:
Clean_Truncate_Approved_Loan_Data.columns

Index(['Employment_Length', 'State', 'dti', 'dti_joint', 'Loan_Amount',
       'sec_app_fico_range_low', 'sec_app_fico_range_high', 'fico_range_high',
       'fico_range_low', 'Debt_To_Income_Ratio', 'Risk_Score',
       'Approved_Reject'],
      dtype='object')

In [12]:
Clean_Truncate_Approved_Loan_Data.isnull().any()

Employment_Length          False
State                      False
dti                        False
dti_joint                   True
Loan_Amount                False
sec_app_fico_range_low      True
sec_app_fico_range_high     True
fico_range_high            False
fico_range_low             False
Debt_To_Income_Ratio       False
Risk_Score                 False
Approved_Reject            False
dtype: bool

# Cleanup Reject Data

In [13]:
Reject_Loan_Data=Reject_Loan_Data[['Amount Requested','Application Date','Debt-To-Income Ratio', 'State','Employment Length', 'Risk_Score']]

In [14]:
# check for data with null data
Reject_Loan_Data.isnull().any()

Amount Requested        False
Application Date        False
Debt-To-Income Ratio    False
State                    True
Employment Length        True
Risk_Score               True
dtype: bool

In [15]:
null_data_delete = Reject_Loan_Data[Reject_Loan_Data['State'].isnull()]
Clean_Reject_Loan_Data=Reject_Loan_Data.drop(null_data_delete.index.values)
null_data_delete = Clean_Reject_Loan_Data[Clean_Reject_Loan_Data['Employment Length'].isnull()]
Clean_Reject_Loan_Data=Clean_Reject_Loan_Data.drop(null_data_delete.index.values)
null_data_delete = Clean_Reject_Loan_Data[Clean_Reject_Loan_Data['Risk_Score'].isnull()]
Clean_Reject_Loan_Data=Clean_Reject_Loan_Data.drop(null_data_delete.index.values)

In [16]:
Clean_Reject_Loan_Data.isnull().any()

Amount Requested        False
Application Date        False
Debt-To-Income Ratio    False
State                   False
Employment Length       False
Risk_Score              False
dtype: bool

In [17]:
#Clean up column names
Clean_Reject_Loan_Data = Clean_Reject_Loan_Data.rename(columns={"Employment Length": "Employment_Length", "State": "State", "Amount Requested": "Loan_Amount", "Debt-To-Income Ratio":"Debt_To_Income_Ratio"})
#Label data for approved: 1
Clean_Reject_Loan_Data['Approved_Reject'] = 0

# Reject Data Stratified Sampling

In [18]:
#Check Shape of Data Frame
R_r, R_c = Reject_Loan_Data.shape
CR_r, CR_c = Clean_Reject_Loan_Data.shape
TA_r, TA_c = Truncate_Approved_Loan_Data.shape
#list(Loan_Data)
print(R_r, R_c)
print(CR_r, CR_c)
print(TA_r,TA_c)
print(R_r/(TA_r+R_r))

27648741 6
8992576 7
2260701 9
0.9244151395402161

There are too many Reject Data relative to Approved data. We want to achieve 30/70 ratio

In [19]:
x = Symbol('x')
data_need = int(solve(TA_r/(TA_r+x)-.3, x)[0])
print("Need to reduce ", CR_r - data_need, " number of rows in reject data")

# % of reject data to retain. 
percentage_retain = data_need/CR_r

Need to reduce  3717607  number of rows in reject data

In [20]:
#convert from str to datetime
Clean_Reject_Loan_Data["Application Date"]=pd.to_datetime(Clean_Reject_Loan_Data["Application Date"], format = "%Y-%m-%d")

In [21]:
#Extract year from datetime
Clean_Reject_Loan_Data["Application_Date_Year"]=Clean_Reject_Loan_Data["Application Date"].dt.year

In [22]:
#stratified sampling based on % needed to be retained
Stratified_Clean_Reject_Loan_Data = Clean_Reject_Loan_Data.groupby('Application_Date_Year').apply(lambda x: x.sample(frac=percentage_retain))

In [23]:
Stratified_Clean_Reject_Loan_Data = Stratified_Clean_Reject_Loan_Data.reset_index(drop=True)

# Merge Approved and Rejected Data

In [24]:
Stratified_Clean_Reject_Loan_Data.columns

Index(['Loan_Amount', 'Application Date', 'Debt_To_Income_Ratio', 'State',
       'Employment_Length', 'Risk_Score', 'Approved_Reject',
       'Application_Date_Year'],
      dtype='object')

In [25]:
Clean_Truncate_Approved_Loan_Data.columns

Index(['Employment_Length', 'State', 'dti', 'dti_joint', 'Loan_Amount',
       'sec_app_fico_range_low', 'sec_app_fico_range_high', 'fico_range_high',
       'fico_range_low', 'Debt_To_Income_Ratio', 'Risk_Score',
       'Approved_Reject'],
      dtype='object')

In [26]:
Merged_Data = pd.concat([Stratified_Clean_Reject_Loan_Data[['Loan_Amount','Debt_To_Income_Ratio', 'State', 'Employment_Length','Risk_Score', 'Approved_Reject']], Clean_Truncate_Approved_Loan_Data[['Loan_Amount','Debt_To_Income_Ratio', 'State', 'Employment_Length','Risk_Score', 'Approved_Reject']]], axis = 0)

In [27]:
Merged_Data.columns

Index(['Loan_Amount', 'Debt_To_Income_Ratio', 'State', 'Employment_Length',
       'Risk_Score', 'Approved_Reject'],
      dtype='object')

# Split out States into Regions
## Based on Bureau of Economic Analysis regions split

In [28]:
#Check data quality of state column
Merged_Data.State.nunique()

51

In [29]:
test =Merged_Data.groupby('State').count()
test.loc['IA']

Loan_Amount             249
Debt_To_Income_Ratio    249
Employment_Length       249
Risk_Score              249
Approved_Reject         249
Name: IA, dtype: int64

In [36]:
#Merged_Data[Merged_Data['State']=='IA']

In [44]:
New_England = ['CT','ME', 'MA', 'NH', 'RI', 'VT']
Mideast = ['DE', 'DC', 'MD', 'NJ', 'NY', 'PA']
Great_Lakes = ['IL', 'ID','MI', 'OH','WI']
Plains = ['IA', 'KS', 'MN', 'MO', 'NE','ND','SD']
Southeast = ['AL', 'AR', 'FL', 'GA', 'KY','LA', 'MS', 'NC', 'SC', 'TN', 'VA', 'WV']
Southwest = ['AZ', 'NM', 'OK', 'TX']
Rocky_Mountain = ['CO','ID', 'MT', 'UT', 'WY']
Far_West = ['AK', 'CA', 'HI', 'NV', 'OR', 'WA']

In [54]:
def Search_List(List, data):
    if (data in List): 
        return True
    else:
        return False
    
Merged_Data['Region'] = Merged_Data['State'].apply(lambda x: 'New_England' if Search_List(New_England, x) else \
                                                   ('Mideast' if Search_List(Mideast, x) else \
                                                   ('Great_Lakes' if Search_List(Great_Lakes, x) else \
                                                   ('Plains' if Search_List(Plains, x) else \
                                                   ('Southwest' if Search_List(Southwest, x) else \
                                                   ('Rock_Mountain' if Search_List(Rocky_Mountain, x) else \
                                                   ('Far_West' if Search_List(Far_West, x) else 'N/A')))))))

In [55]:
Merged_Data[Merged_Data['Region']=='Far_West']

,Loan_Amount,Debt_To_Income_Ratio,State,Employment_Length,Risk_Score,Approved_Reject,Region
5,2500.0,4.66%,CA,1 year,524.0,0,Far_West
22,1000.0,8.27%,WA,< 1 year,553.0,0,Far_West
29,25000.0,24.22%,WA,< 1 year,650.0,0,Far_West
31,25000.0,0.55%,WA,10+ years,544.0,0,Far_West
52,8000.0,22.22%,CA,4 years,619.0,0,Far_West
61,1500.0,8.22%,WA,< 1 year,469.0,0,Far_West
79,5000.0,210.59%,CA,3 years,476.0,0,Far_West
151,7000.0,23.63%,CA,9 years,628.0,0,Far_West
152,500.0,0%,WA,2 years,591.0,0,Far_West
194,3000.0,0%,AK,10+ years,0.0,0,Far_West
197,15000.0,14.03%,CA,1 year,561.0,0,Far_West
233,1500.0,0%,CA,< 1 year,0.0,0,Far_West
236,5500.0,47.08%,NV,< 1 year,653.0,0,Far_West
241,17000.0,20.02%,CA,3 years,623.0,0,Far_West
247,10000.0,13.35%,CA,1 year,635.0,0,Far_West
268,1500.0,0%,CA,10+ years,539.0,0,Far_West
284,3000.0,78.1%,OR,2 years,445.0,0,Far_West
293,2000.0,8.79%,WA,3 years,595.0,0,Far_West
309,5500.0,13.91%,OR,< 1 year,615.0,0,Far_West
347,7500.0,0%,HI,10+ years,0.0,0,Far_West
351,5000.0,0.36%,HI,9 years,592.0,0,Far_West
353,2500.0,0.88%,WA,< 1 year,0.0,0,Far_West
414,3000.0,47.76%,CA,2 years,653.0,0,Far_West
426,12000.0,0.48%,WA,2 years,0.0,0,Far_West
440,8000.0,5.77%,NV,2 years,713.0,0,Far_West
454,5000.0,84.12%,WA,1 year,561.0,0,Far_West
493,25000.0,77.88%,CA,10+ years,524.0,0,Far_West
496,10000.0,36.91%,NV,10+ years,685.0,0,Far_West
555,22500.0,51.5%,CA,4 years,717.0,0,Far_West
559,6000.0,6.13%,WA,< 1 year,571.0,0,Far_West
...,...,...,...,...,...,...,...
2260546,13000.0,13.77,CA,10+ years,667.0,1,Far_West
2260549,16000.0,33.6,CA,10+ years,677.0,1,Far_West
2260561,24000.0,9.78,WA,9 years,712.0,1,Far_West
2260577,12000.0,4.35,CA,3 years,667.0,1,Far_West
2260582,35000.0,9.83,CA,3 years,727.0,1,Far_West
2260583,12600.0,18.97,CA,3 years,697.0,1,Far_West
2260586,15500.0,6.17,CA,3 years,677.0,1,Far_West
2260589,15000.0,21.47,NV,3 years,697.0,1,Far_West
2260591,35000.0,19.02,CA,10+ years,697.0,1,Far_West
2260592,13200.0,11.54,CA,2 years,732.0,1,Far_West
2260605,35000.0,18.92,WA,2 years,702.0,1,Far_West
2260607,35000.0,12.04,CA,1 year,707.0,1,Far_West
2260616,13000.0,29.14,CA,2 years,697.0,1,Far_West
2260626,35000.0,11.545,WA,7 years,667.0,1,Far_West
2260628,11200.0,29,CA,10+ years,682.0,1,Far_West
2260636,24000.0,14.46,CA,5 years,677.0,1,Far_West
2260640,25000.0,23.53,NV,1 year,752.0,1,Far_West
2260642,35000.0,17.76,CA,2 years,672.0,1,Far_West
2260644,16000.0,18.14,CA,2 years,697.0,1,Far_West
2260646,12000.0,23.23,NV,6 years,677.0,1,Far_West
2260651,10000.0,29.18,CA,3 years,667.0,1,Far_West
2260654,26000.0,15.06,OR,4 years,677.0,1,Far_West
2260668,16000.0,15,OR,3 years,677.0,1,Far_West
2260674,20000.0,12.36,CA,9 years,667.0,1,Far_West
2260676,32000.0,3.43,CA,10+ years,667.0,1,Far_West
2260677,11200.0,4.8,WA,5 years,667.0,1,Far_West
2260685,36400.0,21.5,CA,5 years,722.0,1,Far_West
2260690,29400.0,22.03,CA,9 years,707.0,1,Far_West
2260693,24000.0,10.98,HI,4 years,727.0,1,Far_West
2260696,40000.0,12.75,CA,9 years,707.0,1,Far_West

# Data Exploration

In [31]:
pd.options.display.max_seq_items = 2000
Approved_Loan_Data.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'emp_title',
       'emp_length', 'home_ownership', 'annual_inc', 'verification_status',
       'issue_d', 'loan_status', 'pymnt_plan', 'url', 'desc', 'purpose',
       'title', 'zip_code', 'addr_state', 'dti', 'delinq_2yrs',
       'earliest_cr_line', 'fico_range_low', 'fico_range_high',
       'inq_last_6mths', 'mths_since_last_delinq', 'mths_since_last_record',
       'open_acc', 'pub_rec', 'revol_bal', 'revol_util', 'total_acc',
       'initial_list_status', 'out_prncp', 'out_prncp_inv', 'total_pymnt',
       'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int',
       'total_rec_late_fee', 'recoveries', 'collection_recovery_fee',
       'last_pymnt_d', 'last_pymnt_amnt', 'next_pymnt_d', 'last_credit_pull_d',
       'last_fico_range_high', 'last_fico_range_low',
       'collections_12_mths_ex_med', 'mths_since_last_major_derog',
       'policy_code', 'application_type', 'annual_inc_joint', 'dti_joint',
       'verification_status_joint', 'acc_now_delinq', 'tot_coll_amt',
       'tot_cur_bal', 'open_acc_6m', 'open_act_il', 'open_il_12m',
       'open_il_24m', 'mths_since_rcnt_il', 'total_bal_il', 'il_util',
       'open_rv_12m', 'open_rv_24m', 'max_bal_bc', 'all_util',
       'total_rev_hi_lim', 'inq_fi', 'total_cu_tl', 'inq_last_12m',
       'acc_open_past_24mths', 'avg_cur_bal', 'bc_open_to_buy', 'bc_util',
       'chargeoff_within_12_mths', 'delinq_amnt', 'mo_sin_old_il_acct',
       'mo_sin_old_rev_tl_op', 'mo_sin_rcnt_rev_tl_op', 'mo_sin_rcnt_tl',
       'mort_acc', 'mths_since_recent_bc', 'mths_since_recent_bc_dlq',
       'mths_since_recent_inq', 'mths_since_recent_revol_delinq',
       'num_accts_ever_120_pd', 'num_actv_bc_tl', 'num_actv_rev_tl',
       'num_bc_sats', 'num_bc_tl', 'num_il_tl', 'num_op_rev_tl',
       'num_rev_accts', 'num_rev_tl_bal_gt_0', 'num_sats', 'num_tl_120dpd_2m',
       'num_tl_30dpd', 'num_tl_90g_dpd_24m', 'num_tl_op_past_12m',
       'pct_tl_nvr_dlq', 'percent_bc_gt_75', 'pub_rec_bankruptcies',
       'tax_liens', 'tot_hi_cred_lim', 'total_bal_ex_mort', 'total_bc_limit',
       'total_il_high_credit_limit', 'revol_bal_joint',
       'sec_app_fico_range_low', 'sec_app_fico_range_high',
       'sec_app_earliest_cr_line', 'sec_app_inq_last_6mths',
       'sec_app_mort_acc', 'sec_app_open_acc', 'sec_app_revol_util',
       'sec_app_open_act_il', 'sec_app_num_rev_accts',
       'sec_app_chargeoff_within_12_mths',
       'sec_app_collections_12_mths_ex_med',
       'sec_app_mths_since_last_major_derog', 'hardship_flag', 'hardship_type',
       'hardship_reason', 'hardship_status', 'deferral_term',
       'hardship_amount', 'hardship_start_date', 'hardship_end_date',
       'payment_plan_start_date', 'hardship_length', 'hardship_dpd',
       'hardship_loan_status', 'orig_projected_additional_accrued_interest',
       'hardship_payoff_balance_amount', 'hardship_last_payment_amount',
       'disbursement_method', 'debt_settlement_flag',
       'debt_settlement_flag_date', 'settlement_status', 'settlement_date',
       'settlement_amount', 'settlement_percentage', 'settlement_term'],
      dtype='object')

In [32]:
#Check Shape of Data Frame
R_r, R_c = Reject_Loan_Data.shape
CR_r, CR_c = Clean_Reject_Loan_Data.shape
SCR_r, SCR_c = Stratified_Clean_Reject_Loan_Data.shape
TA_r, TA_c = Truncate_Approved_Loan_Data.shape

#list(Loan_Data)
print(R_r, R_c)
print(CR_r, CR_c)
print(SCR_r, SCR_c)
print(TA_r,TA_c)

27648741 6
8992576 8
5274969 8
2260701 9

In [33]:
Clean_Reject_Loan_Data.groupby('Application_Date_Year').count()

,Loan_Amount,Application Date,Debt_To_Income_Ratio,State,Employment_Length,Risk_Score,Approved_Reject
Application_Date_Year,,,,,,,
2007,5170,5170,5170,5170,5170,5170,5170
2008,23070,23070,23070,23070,23070,23070,23070
2009,50752,50752,50752,50752,50752,50752,50752
2010,102088,102088,102088,102088,102088,102088,102088
2011,213098,213098,213098,213098,213098,213098,213098
2012,329356,329356,329356,329356,329356,329356,329356
2013,726041,726041,726041,726041,726041,726041,726041
2014,1648116,1648116,1648116,1648116,1648116,1648116,1648116
2015,498001,498001,498001,498001,498001,498001,498001
2016,998475,998475,998475,998475,998475,998475,998475
2017,3770065,3770065,3770065,3770065,3770065,3770065,3770065
2018,628344,628344,628344,628344,628344,628344,628344

In [34]:
Stratified_Clean_Reject_Loan_Data.groupby('Application_Date_Year').count()

,Loan_Amount,Application Date,Debt_To_Income_Ratio,State,Employment_Length,Risk_Score,Approved_Reject
Application_Date_Year,,,,,,,
2007,3033,3033,3033,3033,3033,3033,3033
2008,13533,13533,13533,13533,13533,13533,13533
2009,29771,29771,29771,29771,29771,29771,29771
2010,59884,59884,59884,59884,59884,59884,59884
2011,125001,125001,125001,125001,125001,125001,125001
2012,193197,193197,193197,193197,193197,193197,193197
2013,425890,425890,425890,425890,425890,425890,425890
2014,966771,966771,966771,966771,966771,966771,966771
2015,292123,292123,292123,292123,292123,292123,292123
2016,585697,585697,585697,585697,585697,585697,585697
2017,2211488,2211488,2211488,2211488,2211488,2211488,2211488
2018,368581,368581,368581,368581,368581,368581,368581

In [35]:
Stratified_Clean_Reject_Loan_Data

,Loan_Amount,Application Date,Debt_To_Income_Ratio,State,Employment_Length,Risk_Score,Approved_Reject,Application_Date_Year
0,12000.0,2007-11-30,28.62%,KS,< 1 year,770.0,0,2007
1,4000.0,2007-10-09,221.94%,FL,1 year,605.0,0,2007
2,4000.0,2007-12-28,5.86%,PA,5 years,641.0,0,2007
3,5000.0,2007-08-10,6.16%,GA,1 year,591.0,0,2007
4,1500.0,2007-07-19,2.91%,WI,< 1 year,529.0,0,2007
5,2500.0,2007-12-21,4.66%,CA,1 year,524.0,0,2007
6,3500.0,2007-12-10,19.86%,VA,1 year,507.0,0,2007
7,8000.0,2007-12-29,2.31%,MD,3 years,571.0,0,2007
8,15000.0,2007-11-29,19.1%,MA,6 years,621.0,0,2007
9,5000.0,2007-12-31,10.83%,IL,1 year,458.0,0,2007
10,5000.0,2007-11-28,18.8%,AZ,< 1 year,480.0,0,2007
11,25000.0,2007-10-24,1.95%,OH,2 years,480.0,0,2007
12,500.0,2007-09-29,4.85%,OH,9 years,423.0,0,2007
13,15000.0,2007-11-21,18.68%,TX,1 year,574.0,0,2007
14,5000.0,2007-11-21,2.24%,NY,< 1 year,614.0,0,2007
15,10000.0,2007-11-25,7.94%,IN,< 1 year,433.0,0,2007
16,2000.0,2007-10-25,14.77%,NY,4 years,571.0,0,2007
17,1000.0,2007-07-10,9.69%,WI,1 year,567.0,0,2007
18,1000.0,2007-12-04,1.42%,NY,1 year,462.0,0,2007
19,6500.0,2007-08-15,16.57%,MN,3 years,715.0,0,2007
20,3000.0,2007-12-15,49.4%,NC,< 1 year,685.0,0,2007
21,10500.0,2007-12-26,26.81%,CO,10+ years,745.0,0,2007
22,1000.0,2007-07-07,8.27%,WA,< 1 year,553.0,0,2007
23,5000.0,2007-06-25,47.2%,IN,3 years,537.0,0,2007
24,16000.0,2007-11-07,24.37%,GA,< 1 year,662.0,0,2007
25,1000.0,2007-11-09,0%,AR,< 1 year,459.0,0,2007
26,5000.0,2007-10-05,14.78%,FL,2 years,546.0,0,2007
27,6000.0,2007-11-19,0%,TX,< 1 year,0.0,0,2007
28,8230.0,2007-12-27,37.52%,NY,< 1 year,718.0,0,2007
29,25000.0,2007-10-03,24.22%,WA,< 1 year,650.0,0,2007
...,...,...,...,...,...,...,...,...
5274939,30000.0,2018-01-12,403.3%,TX,< 1 year,631.0,0,2018
5274940,25000.0,2018-06-09,11.15%,CA,< 1 year,635.0,0,2018
5274941,20000.0,2018-02-07,30.9%,CA,< 1 year,681.0,0,2018
5274942,5000.0,2018-01-19,22.57%,WA,< 1 year,508.0,0,2018
5274943,10000.0,2018-12-17,88.72%,VA,< 1 year,501.0,0,2018
5274944,2000.0,2018-01-17,49.19%,OH,< 1 year,642.0,0,2018
5274945,20000.0,2018-01-11,17.89%,NY,< 1 year,694.0,0,2018
5274946,1000.0,2018-01-08,26.32%,TN,< 1 year,708.0,0,2018
5274947,2500.0,2018-01-04,23.67%,NC,< 1 year,586.0,0,2018
5274948,20000.0,2018-01-11,112.36%,PA,< 1 year,581.0,0,2018
5274949,25000.0,2018-02-07,6.17%,FL,< 1 year,547.0,0,2018
5274950,25000.0,2018-01-15,26.54%,IL,< 1 year,544.0,0,2018
5274951,10000.0,2018-01-18,32.42%,AZ,< 1 year,596.0,0,2018
5274952,15000.0,2018-01-17,3%,NV,< 1 year,501.0,0,2018
5274953,10000.0,2018-01-12,32.72%,FL,< 1 year,608.0,0,2018
5274954,5000.0,2018-01-18,5.62%,NY,< 1 year,573.0,0,2018
5274955,7000.0,2018-01-12,625%,MI,< 1 year,552.0,0,2018
5274956,5000.0,2018-01-12,5.32%,CA,< 1 year,659.0,0,2018
5274957,3000.0,2018-01-03,9.97%,TX,< 1 year,556.0,0,2018
5274958,40000.0,2018-01-16,0%,FL,< 1 year,667.0,0,2018
5274959,10000.0,2018-01-12,41.98%,GA,< 1 year,679.0,0,2018
5274960,2000.0,2018-10-31,100%,KY,< 1 year,613.0,0,2018
5274961,40000.0,2018-01-18,14.71%,CA,< 1 year,579.0,0,2018
5274962,2000.0,2018-01-06,11.89%,VA,< 1 year,625.0,0,2018
5274963,1000.0,2018-10-03,1.2%,NC,< 1 year,567.0,0,2018
5274964,1000.0,2018-01-09,4.5%,TX,< 1 year,589.0,0,2018
5274965,1000.0,2018-05-10,30.3%,CA,< 1 year,605.0,0,2018
5274966,20000.0,2018-01-10,11.12%,MN,< 1 year,609.0,0,2018
5274967,20000.0,2018-05-19,14.22%,UT,10+ years,662.0,0,2018
5274968,5000.0,2018-01-07,534.94%,WI,< 1 year,571.0,0,2018